/************ Media queries for screen sizes ************

Usage:

@media (@Query_sapUiMedia-Std-Desktop) {
      .test {
            width: 50em;
      }
}

*********************************************************/


/* see sap.ui.Device.media.RANGESETS.SAP_STANDARD*/
@Query_sapUiMedia-Std-Desktop:  ~"screen and (min-width : 1024px)";
@Query_sapUiMedia-Std-Tablet:  ~"screen and (min-width : 600px) and (max-width : 1023px)";
@Query_sapUiMedia-Std-Phone:  ~"screen and (max-width : 599px)";

/* see sap.ui.Device.media.RANGESETS.SAP_3STEPS*/
@Query_sapUiMedia-3Step-L:  ~"screen and (min-width : 960px)";
@Query_sapUiMedia-3Step-M:  ~"screen and (min-width : 520px) and (max-width : 959px)";
@Query_sapUiMedia-3Step-S:  ~"screen and (max-width : 519px)";

/* see sap.ui.Device.media.RANGESETS.SAP_4STEPS*/
@Query_sapUiMedia-4Step-XL:  ~"screen and (min-width : 960px)";
@Query_sapUiMedia-4Step-L:  ~"screen and (min-width : 760px) and (max-width : 959px)";
@Query_sapUiMedia-4Step-M:  ~"screen and (min-width : 520px) and (max-width : 759px)";
@Query_sapUiMedia-4Step-S:  ~"screen and (max-width : 519px)";

/* see sap.ui.Device.media.RANGESETS.SAP_6STEPS*/
@Query_sapUiMedia-6Step-XXL:  ~"screen and (min-width : 960px)";
@Query_sapUiMedia-6Step-XL:  ~"screen and (min-width : 768px) and (max-width : 959px)";
@Query_sapUiMedia-6Step-L:  ~"screen and (min-width : 541px) and (max-width : 767px)";
@Query_sapUiMedia-6Step-M:  ~"screen and (min-width : 400px) and (max-width : 540px)";
@Query_sapUiMedia-6Step-S:  ~"screen and (min-width : 241px) and (max-width : 399px)";
@Query_sapUiMedia-6Step-XS:  ~"screen and (max-width : 240px)";